html {
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Bree Serif', serif;
  font-size: 1.2em;
  background-image: linear-gradient(#f0b429, #fff3c4);
  min-height: 100%;
  height: 100%;
}

.app-preview {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80vw;
  justify-content: center;
  min-width: 320px;
  height: 50vh;
}

.app-preview > img {
  align-self: center;
  max-width: 90%;
  max-height: 75%;
}

h2 {
  margin: 0;
}

.app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  vmin: 100;
}

h1 {
  margin: 0;
}

.header-bar {
  display: flex;
  color: white;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  width: 100vw;
  min-width: 100vw;
  height: 100px;
  padding: 0 20px;
  border-radius: 0 0 15px 15px;
  background: linear-gradient(110deg, #a61b1b 40%, rgba(0, 0, 0, 0) 30%),
    radial-gradient(farthest-corner at 0% 0%, #ba2525 70%, #610404 70%);
}

.nav-buttons,
.align-item,
header > h1 {
  width: 33%;
}
.nav-buttons button {
  display: block;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 5px 0 5px;
}

/* .word-buttons button {
  display: block;
  float: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 5px 0 5px;
} */
.dashboard {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.word-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-content: center;
  text-align: center;
  margin-top: 40px;
}
.word-buttons button {
  margin: 0px 5px 0px 5px;
}

.word-card header {
  font-size: 2em;
  margin-bottom: 10px;
  font-family: 'Kalam', cursive;
}
.word-card input {
  font-size: 1em;
}

.landing-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  text-align: center;
}
.landing-page > h2 {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
  text-align: center;
}
.landing-box {
  min-width: 100%;
  flex-wrap: nowrap;
  display: flex;
}

.registration-home,
.app-preview {
  flex: 1 0 50%;
  text-align: center;
  overflow: hidden;
}

.registration-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registration-home a {
  font-size: 0.6em;
}
.registration-form input {
  border-radius: 4px;
  border: solid 1px grey;
  padding: 2px;
  margin: 4px;
}
.registration-form .form-input {
  margin: 8px 0;
}

.login-form input {
  border-radius: 4px;
  border: solid 1px grey;
}
.login-form .form-input {
  margin: 8px 0;
}

.login-form {
  padding: 50px;
}

.form-error {
  color: red;
  margin-bottom: 3px;
}

img {
  box-shadow: 15px 10px 5px 2px rgba(97, 4, 4, 0.58);
}

button {
  border-radius: 4px;
  background: #f0b429;
  color: #27241d;
  margin: 0 5px 0 5px;
  border: solid 1px #8d2b0b;
  padding: 4px 12px;
}

input {
  border-radius: 4px;
  border: solid 1px #857f72;
}

/* .app-description {
  text-align: center;
} */

@media (max-width: 580px) {
  /* .nav-buttons, */

  header > h1 {
    width: 30%;
    font-size: 1.5em;
    justify-self: center;

    /* margin: 0 auto; */
  }

  /* .align-item {
    width: auto;
  } */

  .nav-buttons {
    margin-right: 15px;
    display: flex;
  }

  .header-bar {
    display: flex;
    align-content: center;
  }
  .nav-buttons button,
  .nav-buttons .home {
    font-size: 0.6em;
    width: 100%;
    align-self: flex-start;
  }
}

@media (max-width: 420px) {
  .nav-buttons {
    width: 37%;
    font-size: 0.4em;
    align-content: flex-end;
  }
}
