html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

html{ 
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Bree Serif', serif;
  font-size: 1.2em;
  background-image:
    linear-gradient(
      #F0B429, #FFF3C4
    );
    min-height: 100%;
    height: 100%;
}

.app-preview {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-width: 320px;
}

.app-preview > img {
  align-self: center;
  width: 80%;
}

h2 {
  margin: 0;
}

.app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  vmin: 100;
}


h1 {
  margin: 0;
}

.header-bar {
  display: flex;
  color: white;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  width: 100vw;
  min-width: 100vw;
  height: 80px;
  padding: 0 20px;
  border-radius: 0 0 15px 15px;
  background: linear-gradient(110deg, #A61B1B 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #BA2525 70%, #610404 70%);
}
.nav-buttons, .align-item, header>h1 {
  width: 33%;
}
.nav-buttons button{
  display: block;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.dashboard {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.word-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center; 
  text-align: center;
  margin-top: 40px;
}
.word-buttons {
  margin: 15px 5px 0px 5px;
}
.word-card header {
  font-size: 2em;
  margin-bottom: 10px;
  font-family: 'Kalam', cursive;
}
.word-card input {
  font-size: 1em;
}

.landing-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}
.landing-page > h2 {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
  text-align: center;
}
.landing-box {
  min-width: 100%;
  flex-wrap: nowrap;
  display: flex;

}

.registration-home,
.app-preview {
  flex: 1 0 50%;
  text-align: center;
  overflow: hidden;
}
.registration-home a {
  font-size: 0.6em;
}
.registration-form input {
  border-radius: 4px;
  border: solid 1px grey;
}
.registration-form .form-input {
  margin: 8px 0;
}

.login-form input {
  border-radius: 4px;
  border: solid 1px grey;
}
.login-form .form-input {
  margin: 8px 0;
}

.form-error {
  color: red;
  font-size: 0.6em;
}

img {
  box-shadow: 15px 10px 5px 2px rgba(97,4,4,0.58);
}

button {
  border-radius: 4px;
  background:  #F0B429;
  color: #27241D;
  margin: 0 5px 0 5px;
  border: solid 1px #8D2B0B; 
  padding: 4px 12px; 
}

input {
  border-radius: 4px;
  border: solid 1px #857F72;
}